################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagementSystem/bin/Debug/netcoreapp2.1
/EmployeeManagementSystem/obj
/.vs
/EmployeeUI/bin/Debug/netcoreapp2.1
/EmployeeUI/obj
/ClassLibrary1/obj/Debug
/ConsoleApp1/obj
/EmployeeManagementSystem/bin/Release/netcoreapp2.1
/EmployeeManagementSystemDbContext/bin/Debug/netcoreapp2.1
/EmployeeManagementSystemDbContext/obj
/EmployeeManagementUI/bin/Debug/netcoreapp2.1
/EmployeeManagementUI/obj
/EmployeeUI/bin/Release/netcoreapp2.1
