################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagementSystem/bin/Debug/netcoreapp2.1
/EmployeeManagementSystem/obj
